{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "react/prop-types": 0
  },
  "globals": {
    "Promise": true,
    "require": true,
    "console": true,
    "module": true,
    "process": true,
    "exports": true,
    "fetch": true,
    "window": true,
    "document": true

  }
}